<div class="auth-container">
    <div class="info">
        <i class="fa fa-dragon fa-8x"></i>
        <h1>Welcome to the Admin management service</h1>
    </div>
    <div class="login-content">
        <form action="">
            <h1 class="title">Login to your account</h1>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <button type="submit" class="btn">Login</button>
            <a href="#">Forgot Password?</a>
        </form>
    </div>
</div>